# Pandas replace()

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\IT's MRK\Desktop\Learning\Pandas\Fortune_3.csv")
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [5]:
#df.replace(to_replace = 'Health', value = 'Marketing') # it is used to replace the value
df.replace('Health', 'Real Estate')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Real Estate,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Real Estate,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Real Estate,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Real Estate,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Real Estate,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [6]:
df.replace(10,15)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,15,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [8]:
df.replace([1,2,3,4,5,6,7,8,9,10], 100)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,100,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,100,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,100,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,100,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,100,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,100,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,100,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,100,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,100,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,100,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [9]:
df.replace([1,2,3,4,5,6,7,8,9,10], [11,12,13,14,15,16,17,18,19,20])

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,11,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,12,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,13,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,14,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,15,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,16,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,17,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,18,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,19,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,20,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [11]:
df.replace({'Industry':'Health'}, 'none')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,none,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,none,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,none,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,none,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,none,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [17]:
df.replace({'Industry':'Health','Growth':'7%' },'none')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,none,2012,"$10,597,009","7,591,189 Dollars",3005820,none
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,none,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,none,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,none,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,none,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,none

In [18]:
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [19]:
df.replace(['A-Za-z'],0)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [21]:
df.replace('[A-Za-z]',0, regex = True)

   ID  Name  Industry  Inception       Revenue  Expenses    Profit Growth
0   1     0         0       2009  $11,757,018        0.0   5274553    30%
1   2     0         0       2010  $12,329,371        0.0  11412916    20%
2   3     0         0       2012  $10,597,009        0.0   3005820     7%
3   4     0         0       2013  $14,026,934        0.0   6597557    26%
4   5     0         0       2009  $10,573,990        0.0   3138627     8%
5   6     0         0       2006  $13,898,119        0.0   8427816    23%
6   7     0         0       2010   $9,254,614        0.0   3005116     6%
7   8     0         0       2009   $9,451,943        0.0   5573830     4%
8   9     0         0       2011  $14,001,180        NaN  11901180    18%
9  10     0         0       2011  $11,088,336        0.0   5453060     7%

In [23]:
df.replace({'Industry':'[A-Za-z]'},0,regex = True)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,0,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,0,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,0,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,0,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,0,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,0,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,0,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,0,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,0,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,0,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [25]:
df.replace('Health',method = 'ffill')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Financial Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [26]:
df.replace('Health',method = 'bfill')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,IT Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [27]:
df.replace('Health',method = 'ffill',limit=2)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Financial Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [28]:
df.replace('Health',method = 'ffill',limit=1)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Financial Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [29]:
 df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [33]:
df.replace(['Health','7%'],0, inplace= True) # It updates values 
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,0,2012,"$10,597,009","7,591,189 Dollars",3005820,0
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,0,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,0,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,0,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,0,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,0